<div class="mb-6 md:-ml-3.5 relative flex items-center flex-wrap md:text-sm font-semibold hover:text-violet-600 transition-colors">
  <svg viewBox="0 0 12 12" fill="currentColor" class="w-3 h-3 mr-0.5 relative -top-px -left-1">
    <g bufferred-rendering="static">
      <path d="M5.558 1.183a.629.629 0 01.884 0l4.375 4.376a.625.625 0 01-.442 1.066H9.75v3.751a.628.628 0 01-.625.625h-1.25a.628.628 0 01-.625-.625V8.5a.628.628 0 00-.625-.625h-1.25a.628.628 0 00-.625.625v1.876a.628.628 0 01-.625.625h-1.25a.628.628 0 01-.625-.625V6.625h-.625a.625.625 0 01-.442-1.066l4.375-4.376z" />
    </g>
  </svg>
  <a href="/docs/">
    Docs home
  </a>
  <hr class="mt-2 w-full h-px border-0 bg-gradient-to-r from-black/[0.025] via-black/[0.075] to-black/[0.025]">
</div>