<nav aria-label="Breadcrumb" class="mb-11 flex items-center space-x-2 text-sm font-semibold text-gray-500">
  <a href="/docs/" class="hover:text-violet-600 transition-colors truncate">Docs</a>
  <%
    segments = current_page.request_path.split('/').drop(2)
    segments.each_with_index do |segment, index|
      path = "/docs/#{segments.take(index + 1).join('/')}"
      title = if index == segments.size - 1
                page_title
              else
                get_page_title(path)
              end
      is_last = index == segments.size - 1
  %>
    <span data-lvl="<%= index %>" class="flex items-center truncate">
      <svg class="w-4 h-4 text-gray-500/50 shrink-0" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
      <% if is_last %>
        <span class="ml-2 text-navy-950 truncate"><%= title %></span>
      <% else %>
        <a href="<%= path %>" class="ml-2 hover:text-violet-600 transition-colors truncate"><%= title %></a>
      <% end %>
    </span>
  <% end %>
</nav>
