<ul class="outline-list">
  <li>
    <%= nav_link "Fly Machines", "/docs/machines/" %>
    <ul>
      <li>
        <%= nav_link "Working with the Machines API", "/docs/machines/working-with-machines/" %>
      </li>
    </ul>
  </li>
</ul>