If it’s your first time using Fly.io, you’ll need to create an account. To sign up, run:

```cmd
fly auth signup
```

This will take you to the sign-up page where you can use your email address, your Google account, or your GitHub account to create a Fly.io account. When you sign up with GitHub, we'll send you a confirmation email with a link to set a password; you'll need a password so we can actively verify that it's you for some Fly.io operations.

<div class="note icon">
**Note:** At some point, you'll be prompted for credit card payment information. New accounts start on our Pay As You Go plan. See [Pricing](/docs/about/pricing) and [Billing](/docs/about/billing/) for more details.
</div>

After signing up you'll be returned to your command line, ready to use Fly.io.
