<div class="bg-gray-100 rounded-xl p-8 my-12 text-base text-navy">
We're starting to roll out our new Apps V2 platform to new organizations. You'll find some differences in instructions between apps deployed on Apps V2 (flyd and Fly Machines) and the original Nomad-orchestrated app platform. 
</div>
