<div class="border border-blue-600 bg-blue-50 rounded-l p-4 my-4 text-base text-navy">
New customers' organizations now deploy to <u>[V2](/docs/reference/apps/#apps-v2)</u> of the <u>[Fly Apps platform](/docs/reference/apps/)</u>, running on <u>[Fly Machines](/docs/machines/)</u>. Docs put Apps V2 in the foreground, but include information specific to the legacy <u>[Fly Apps V1](/docs/reference/apps/#legacy-apps-fly-apps-v1)</u> where appropriate.
<br><br>
Start deploying your new apps to Apps V2 with `fly orgs apps-v2 default-on <org-slug>`. You can also <u>[migrate your V1 apps](/docs/apps/migrate-to-v2/)</u>!
</div>
