<div class="border border-violet-600 bg-violet-50 rounded-l p-4 my-4 text-base text-navy">
We're rolling out [**V2 of the Fly Apps platform**](/docs/reference/apps/#apps-v2), running on [**Fly Machines**](/docs/machines/). New customers' organizations now default to deploying V2 apps, and docs put Apps V2 in the foreground. Much remains the same! But where there's a difference between Apps V2 and the [**original Nomad-orchestrated Fly Apps**](/docs/reference/apps/#legacy-apps-fly-apps-v1), we'll supply Nomad-specific information either inline or at the end of the doc. 
<br><br>
You can check if your org defaults to Apps V2 deployments with `fly orgs apps-v2 show <org-slug>`. Get your organization slug using `fly orgs list`. 
<br><br>
If you're not a new customer but want to ride the wave of the future, start deploying your new apps to Apps V2 with `fly orgs apps-v2 default-on <org-slug>`.
</div>
