<div class="border border-blue-600 bg-blue-50 rounded-l p-4 my-4 text-base text-navy">
All new apps deploy to <u>[V2 of the Fly Platform]((/docs/reference/apps/#apps-v2))</u>, running on <u>[Fly Machines](/docs/machines/)</u>. Our docs apply to Apps V2, but we still include legacy <u>[Apps V1](/docs/reference/apps/#legacy-apps-fly-apps-v1)</u> info where appropriate.
<br><br>
We're migrating all V1 apps to V2 in phases. Learn more about how and why we're <u>[getting off Nomad](https://community.fly.io/t/get-in-losers-were-getting-off-nomad/12914)</u>.
<br><br>
You can also migrate your V1 app yourself using our <u>[migration](https://community.fly.io/t/fly-migrate-to-v2-apps-with-volumes-support/12316)</u> and <u>[migration troubleshooting](https://community.fly.io/t/fly-migrate-to-v2-troubleshoot-self-service-troubleshooting-for-migration-issues/13408)</u> tools, or migrate your V1 app <u>[manually](/docs/apps/migrate-to-v2/)</u>.
</div>
