<div class="border border-blue-600 bg-blue-50 rounded-l p-4 my-4 text-base text-navy">
All new apps now deploy to <u>[V2](/docs/reference/apps/#apps-v2)</u> of the <u>[Fly Apps platform](/docs/reference/apps/)</u>, running on <u>[Fly Machines](/docs/machines/)</u>. Most docs focus on Apps V2, but we still include information specific to the legacy <u>[Fly Apps V1](/docs/reference/apps/#legacy-apps-fly-apps-v1)</u> where appropriate.
<br><br>
We'll be migrating all V1 apps in phases. Learn more about <u>[how and why we're getting off Nomad](https://community.fly.io/t/get-in-losers-were-getting-off-nomad/12914)</u>.
<br><br>
You can also migrate your V1 app yourself <u>[using our migration tool](https://community.fly.io/t/fly-migrate-to-v2-apps-with-volumes-support/12316)</u> or <u>[manually](https://fly.io/docs/apps/migrate-to-v2/)</u>.
</div>
