<div class="border border-violet-600 bg-violet-50 rounded-l p-4 my-4 text-base text-navy">
We're starting to roll out our new Apps V2 platform to new organizations. Where there's any difference in instructions between Apps V2 and the original Nomad-orchestrated app platform, we'll supply the Nomad-specific variant either inline or at the end of the doc.
<br><br>
You can check if your org defaults to Apps V2 deployments with `fly orgs apps-v2 show <org-slug>`. Get your organization slug using `fly orgs list`.
</div>
