---
title: Guides and Examples
layout: docs
toc: false
nav: firecracker
---

<h2 class="group flex items-center whitespace-pre-wrap relative mt-14 mb-6 text-navy font-heading">Example Applications</h2>
<ul>
  <% glob("docs/app-guides/*.html.*").select{ |page| in_category?(page, categories: %w[guide]) }.sort_by{ |page| page.data.title }.each do |page| %>
    <li><%=link_to_page page %></li>
  <% end %>
</ul>

<h2 class="group flex items-center whitespace-pre-wrap relative mt-14 mb-6 text-navy font-heading">Machines</h2>
<ul>
  <% glob("docs/app-guides/*.html.*").select{ |page| in_category?(page, categories: %w[machines]) }.sort_by{ |page| page.data.title }.each do |page| %>
    <li><%=link_to_page page %></li>
  <% end %>
</ul>

<h2 class="group flex items-center whitespace-pre-wrap relative mt-14 mb-6 text-navy font-heading">Other Guides</h2>
<ul>
  <% glob("docs/app-guides/*.html.*").reject{ |page| in_category?(page, categories: %w[machines guide]) }.sort_by{ |page| page.data.title }.each do |page| %>
    <li><%=link_to_page page %></li>
  <% end %>
</ul>
