---
title: Guides and Examples
layout: docs
toc: false
nav: firecracker
---

<h2 class="group flex items-center whitespace-pre-wrap relative mt-14 mb-6 text-navy font-heading">Example Applications</h2>

<ul>
  <li>
    <%= nav_link "Custom Domains for SaaS", "/docs/app-guides/custom-domains-with-fly/" %>
  </li>
  <li>
    <%= nav_link "Deploy with GitHub Actions", "/docs/app-guides/continuous-deployment-with-github-actions/" %>
  </li>
  <li>
    <%= nav_link "Run Multiple Processes", "/docs/app-guides/multiple-processes/" %>
  </li>
  <li>
    <%= nav_link "Run UDP Services", "/docs/app-guides/udp-and-tcp/" %>
  </li>
</ul>

