---
title: Fly and Open Source
layout: docs
nav: firecracker
---

<figure>
  <img src="/static/images/harbor-spot.jpg" srcset="/static/images/harbor-spot@2x.jpg 2x" alt="">
</figure>

Fly builds on the work of a tremendous open source infrastructure community. We want open source authors to benefit from their work because we think a healthy, thriving open source ecosystem will help us build better products.

Fly is, like many infrastructure platforms, an intricate system built on a number of commercial companies' open source projects.  We use Nomad, Consul and Vault from <a href="https://www.hashicorp.com/" target="_blank" rel="nofollow noopener">Hashicorp</a>. At the heart of our application execution is a variant of Amazon's <a href="https://github.com/firecracker-microvm/firecracker" target="_blank" rel="nofollow noopener">Firecracker</a>. Our monitoring and dashboards use <a href="https://prometheus.io/" target="_blank" rel="nofollow noopener">Prometheus</a> and <a href="https://grafana.com/" target="_blank" rel="nofollow noopener">Grafana</a>. We contribute to projects in a few different ways:

## Equity Grants

There's a tradition of giving equity grants to startup advisors who help growing companies. We too give equity grants - with us though they go to open source authors whose projects we rely on such as  <a href="https://github.com/laverdet/isolated-vm" target="_blank" rel="nofollow noopener">isolated-vm</a> and <a href="https://github.com/unixcharles/acme-client" target="_blank" rel="nofollow noopener">acme-client</a>. Those projects are important to Fly and helped us build the developer experience we wanted.

## Recurring donations

We sponsor the developers behind our favorite open source projects. Some we use heavily, like the <a href="https://github.com/hyperium/hyper/">Hyper HTTP client for Rust</a>. Some are just cool, like the <a href="https://gleam.run" target="_blank" rel="nofollow noopener">Gleam language</a>.

## Revenue share

We are also working out new ways for open source projects to benefit from Fly. One of those is revenue sharing. Bring your open source project to Fly so it can be one-click launched from a dedicated Fly page. We're developing a number of schemes to revenue share when one of those projects is deployed into a paid-for instance on Fly. We're already running with <a href="https://github.com/h2non/imaginary" target="_blank" rel="nofollow noopener">Imaginary</a> and hope to bring many more open source projects into the fold in the future.  (Read more about <a href="https://fly.io/blog/imaginary-on-fly-just-one-click/">Imaginary and One-click launching on Fly</a>) . If you think your project could work with Fly - drop us a line...