---
title: Access Control
layout: framework_docs_overview
toc: false
order: 5
---

<p>
Making an MCP server available on the internet is a security risk. Most MCP servers are stdio and therefore not designed to be exposed to the internet.
We recommend that you start with HTTP Authorization and only explore other options if you have specific needs.
</p>

<p>
Following are some of the ways to secure your MCP server:
</p>