<div style="display: grid; gap: 1px; grid-template-columns: repeat(auto-fit, 11em);">
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/crystal/">Run a Crystal App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/deno/">Run a Deno App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/elixir/">Run an Elixir App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/golang/">Run a Go App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/node/">Run a Node App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/laravel/">Run a Laravel App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/python/">Run a Python App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/rails/">Run a Rails App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/redwood/">Run a Redwood App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/remix/">Run a Remix App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/nuxtjs/">Run a NuxtJS App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/nextjs/">Run a NextJS App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/ruby/">Run a Ruby App</a>
  </div>
   <div class="px-4 py-4 bg-violet-500 text-white opacity-75">
  <a href="/docs/getting-started/static/">Run a Static Website</a>
  </div>
</div>

<br>
