<ul style="display: grid; gap: 1px; grid-template-columns: repeat(auto-fit, 20em);">
  <li>
    <a href="/docs/js/frameworks/astro/">Astro</a>
  </li>
  <li>
    <a href="/docs/js/frameworks/deno/">Deno</a>
  </li>
  <li>
    <a href="/docs/django/getting-started">Django</a>
  </li>
  <li>
    <a href="/docs/elixir/getting-started">Elixir</a>
  </li>
  <li>
    <a href="/docs/python/frameworks/fastapi/">FastAPI</a>
  </li>
  <li>
    <a href="/docs/python/frameworks/flask/">Flask</a>
  </li>
  <li>
    <a href="/docs/languages-and-frameworks/golang/">Go</a>
  </li>
  <li>
    <a href="/docs/js/">JavaScript</a>
  </li>
  <li>
    <a href="/docs/laravel/">Laravel</a>
  </li>
  <li>
    <a href="/docs/js/frameworks/meteor/">Meteor</a>
  </li>
  <li>
    <a href="/docs/languages-and-frameworks/dotnet/">.NET</a>
  </li>
  <li>
    <a href="/docs/js/frameworks/nextjs/">NextJS</a>
  </li>
  <li>
    <a href="/docs/js/frameworks/nuxtjs/">Nuxt</a>
  </li>
  <li>
    <a href="/docs/python/">Python</a>
  </li>
  <li>
    <a href="/docs/rails/getting-started/">Rails</a>
  </li>
  <li>
    <a href="/docs/js/frameworks/redwood/">RedwoodJS</a>
  </li>
  <li>
    <a href="/docs/js/frameworks/remix/">Remix</a>
  </li>
  <li>
    <a href="/docs/languages-and-frameworks/ruby/">Ruby</a>
  </li>
  <li>
    <a href="/docs/rust/">Rust</a>
  </li>
  <li>
    <a href="/docs/languages-and-frameworks/static/">Static Website</a>
  </li>
  <li>
    <a href="/docs/python/frameworks/streamlit/">Streamlit</a>
  </li>
  <li>
    <a href="/docs/js/frameworks/svelte/">SvelteKit</a>
  </li>
</ul>

