<ul style="display: grid; gap: 1px; grid-template-columns: repeat(auto-fit, 20em);">
  <li>
    <a href="/docs/getting-started/crystal/">Crystal</a>
  </li>
  <li>
    <a href="/docs/getting-started/deno/">Deno</a>
  </li>
  <li>
    <a href="/docs/django/getting-started">Django</a>
  </li>
  <li>
    <a href="/docs/elixir/getting-started">Elixir</a>
  </li>
  <li>
    <a href="/docs/getting-started/golang/">Go</a>
  </li>
  <li>
    <a href="/docs/getting-started/node/">Node</a>
  </li>
  <li>
    <a href="/docs/getting-started/laravel/">Laravel</a>
  </li>
  <li>
    <a href="/docs/getting-started/python/">Python</a>
  </li>
  <li>
    <a href="/docs/getting-started/rails/">Rails</a>
  </li>
  <li>
    <a href="/docs/getting-started/redwood/">RedwoodJS</a>
  </li>
  <li>
    <a href="/docs/getting-started/remix/">Remix</a>
  </li>
  <li>
    <a href="/docs/getting-started/nuxtjs/">NuxtJS</a>
  </li>
  <li>
    <a href="/docs/getting-started/nextjs/">NextJS</a>
  </li>
  <li>
    <a href="/docs/getting-started/ruby/">Ruby</a>
  </li>
  <li>
    <a href="/docs/getting-started/static/">Static Website</a>
  </li>
</ul>

