---
title: Automatically Stop and Start App V2 Fly Machines
objective: 
layout: docs
nav: firecracker
order: 65
---

<div class="callout">
This feature only works for V2 apps. For information about scaling V1 apps, refer to [Scale V1 Nomad Apps](/docs/apps/legacy-scaling/).
</div>

Fly Machines are fast to start and stop, and you don't pay for their CPU and RAM when they're in the `stopped` state. For Fly Apps with a service configured, Fly Proxy can start and stop existing Machines based on incoming requests, so that your app can accommodate bursts in demand without keeping extra Machines running constantly.

You can configure automatic starts and automatic stops independently with the `auto_stop_machines` and `auto_start_machines` settings, and tune them with concurrency limits, within the [[[services]]](/docs/reference/configuration/#the-services-sections) or [[http_service]](/docs/reference/configuration/#the-http_service-section) sections of `fly.toml`.

```toml
...
[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
...
```

```toml
...
[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
...
```

## Default and recommended values

New V2 apps created using the `fly launch` command are configured to automatically start and automatically stop Fly Machines by default:

```toml
auto_stop_machines = true
auto_start_machines = true
```

Existing V2 apps—or any V2 apps that don't have these settings in `fly.toml`—will automatically start but not automatically stop Machines by default:

```toml
auto_stop_machines = false
auto_start_machines = true
```

In most cases, we recommend setting `auto_stop_machines` and `auto_start_machines` to the same value to avoid having Machines that either never start or never stop. 

If `auto_start_machines = true` and `auto_stop_machines = false`, Fly Proxy will automatically start your Machines but will never stop them. If you have a reason to only stop Machines manually, then these settings are just fine.

If `auto_start_machines = false` and `auto_stop_machines = true`, Fly Proxy will automatically stop your Machines when there's low traffic, but won't be able to start them again. If all or most of your Machines are stopped, then requests will start failing.

## How It Works

The Fly Proxy runs a process to automatically stop and start Fly Machines every few minutes.

When `auto_stop_machines = true` in your `fly.toml`, the proxy looks at Machines running in a single region and uses the [`soft_limit` setting](/docs/reference/configuration/#the-http_service-section) for each Machine to determine if there's excess capacity. If the proxy decides there's excess capacity, it will stop exactly one machine. The proxy repeats this process every few minutes, stopping only one machine per region, if needed, each time.

Fly Proxy considers all of the app's Machines that are currently running in a given region, such as `fra`, and determines excess capacity as follows:

* If there's more than one Machine in the region:
  * the proxy determines how many Machines are over their `soft_limit` setting and then calculates excess capacity: `excess capacity = num of machines - (num machines over soft limit + 1)`
  * if excess capacity is 1 or greater, then the proxy stops one machine
* If there's only one Machine in the region:
  * the proxy checks if the Machine has any traffic
  * if the Machine has no traffic (a load of 0), then the proxy stops the Machine

When `auto_start_machines = true` in your `fly.toml`, the Fly Proxy restarts a Machine in the nearest region when required.

Fly Proxy determines when to start a Machine as follows:

* The proxy waits for a request to your app.
* If all running Machines are above their `soft_limit` setting, then the proxy starts a stopped Machine in the nearest region (if there are any stopped Machines).
* The proxy routes the request to the newly started Machine.

## When to Stop and Start Fly Machines Automatically, or Not

If your app has highly variable request workloads, then you can set `auto_stop_machines` and `auto_start_machines` to `true` to manage your Fly Machines as demand decreases and increases. This could reduce costs, because you'll never have to run excess Machines to handle peak load; you'll only run, and be charged for, the number of Machines that are needed at any given time.

The difference between this feature and what is typical in autoscaling, is that it doesn't create new Machines up to a specified maximum. It will automatically start only existing Machines. For example, if you want to have a maximum of 10 Machines available to service requests, then you need to create 10 Machines for your app.

If you need your app to be “always on”, then you can set `auto_stop_machines` and `auto_start_machines` to `false`. If `auto_stop_machines` is set to `true` and there’s no traffic to your app, eventually all of your app's Machines could be stopped.
