---
title: Run Multiple Process Groups in an App
objective: 
layout: docs
nav: firecracker
order: 90
---

<%= partial "/docs/partials/v2_transition_banner" %>

Process groups are a way to configure a single Fly App to run multiple different programs.

You define processes in your `fly.toml`, giving each process group a name and a command to run at boot. Every defined process runs in its own Fly Machine(s) within the app, which means they don't compete with each other for VM resources, and they can be scaled individually.

## The default process group

If you don't explicitly define any processes, then the Machines in a Fly App belong to the default `app` process group, and on boot they run whatever entrypoint process the app's Docker image has.

The `app` process is the process group for the `http_service` section in the default app configuration of your `fly.toml` file, even though there is no `processes` setting in that section.

## Run multiple processes

To run multiple processes, first make sure all the things you want to run are installed in your app's Docker image.

Define a [`processes` section](https://fly.io/docs/reference/configuration/#the-processes-section) in your app's `fly.toml`, pairing process group names with the commands they should run.  Here's an example: 

```toml
[processes]
  web = "bin/rails fly:server"
  cron = "supercronic /app/crontab"
```

Once there's a `[processes]` section in your config, flyctl assumes this is a complete list of your processes. If you want an `app` process group alongside others, add it to the config explicitly.

Process group commands in a Fly App correspond to CMD in Docker; they don't replace the ENTRYPOINT of your app image, but will supersede CMD.

## Processes and services
 
Chances are, you only want user requests to hit one of your processes; in the above example, that process is `web`, so you would specify the `web` process in the `http_service` or in the [`[[services]]` section](/docs/reference/configuration/#the-services-sections) for the app's HTTP service:

```toml
...
[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["web"]
  ...
```

You can define distinct services for each process that needs to accept connections via Fly Proxy (whether [publicly](/docs/reference/services/) or via [Flycast](/docs/reference/private-networking/#flycast-private-load-balancing)), by creating multiple `[[services]]` sections in `fly.toml`. 

**Note:** Make sure processes handle connections on different [external ports](/docs/reference/configuration/#services-ports). Fly Proxy doesn't know about process groups; it load-balances requests among all Machines with a service configured on the requested port.

## Deployment

`fly deploy` makes sure that the app has at least one Machine for each process group you've defined, and destroys any Machines belonging to any process group that isn't configured in `fly.toml`. It also updates the command, services, and health checks for each `fly deploy`-managed Machine on the app; and creates a new app release.

So on the first deployment (either at the end of `fly launch` or at the first explicit `fly deploy`), flyctl creates and starts at least one Machine for each process group in `fly.toml`. 

If you add new process groups in an app's `[processes]` block, the next `fly deploy` spins up at least one new Machine to run each new process.

For more information about how many Machines `fly launch` and `fly deploy` create, refer to [App Availability and Resiliency](/docs/reference/app-availability/).

## Scale a process group horizontally

There are two ways to scale the number of Machines. This section provides a summary of horizontal scaling. For more information, refer to [Scale the Number of Machines](/docs/apps/scale-count/#change-the-number-of-machines-in-a-process-group).

You can scale the number of Machines (up or down) per process group with the `fly scale count` command. The following example scales the `web` process group to 8 Machines, and the `cron` process group to 2 Machines:

```
fly scale count web=8 cron=2
```

Alternatively, the `fly machine clone` and `fly machine destroy` commands can also be used to scale the number of Machines individually within a process group. When you clone a Machine that belongs to a process group, the new Machine is created with the command, services, and checks that are configured on the app for that process. 

Run `fly status` to get a list of Machines with IDs and process groups.

The following example clones a Machine into the `gru` (São Paulo) region:

```
fly machine clone --region gru e2865641be9786
```

The following example destroys a Machine:

```
fly machine stop e2865641be9786
fly machine destroy e2865641be9786
```

## Scale a process group vertically

You can scale Machine CPU and memory settings for an entire process group using the `fly scale vm` and `fly scale memory` commands. This section provides a summary of vertical scaling. For more information, refer to [Scale Machine CPU and RAM](/docs/apps/scale-machine/#scale-by-process-group).

The following example changes the CPU/RAM of Machines in the `web` process group to a different preset combination:

```
fly scale vm performance-2x --group web
```

This example changes only the RAM of Machines in the `web` process group:

```
fly scale memory 4096 --group web
```

## Move a Machine between process groups
 
You can change the process group of an existing Machine by updating its metadata:

```cmd
fly machine update --metadata fly_process_group=app 21781973f03e89
```
Then deploy the app to apply the configuration for that process group to the Machine:

```cmd
fly deploy
```

## Process groups and legacy (Nomad) apps

<div class="callout">
Known issues with process groups and Nomad apps:
* Running multiple processes in this way is not compatible with autoscaling.
* Unexpected behavior with regions may arise if you use a `[processes]` block and then delete it.
</div>

In a "V1" Fly App, you don't need to specify which machines are assigned to which processes; Nomad does this for you. After adding process groups to your app's `fly.toml` and deploying, scale them up with per-process commands. For example:

```
$ fly scale count web=2 worker=2
```

### Per-process commands (Nomad)

Some Nomad-only `fly` commands accept a process name as an argument. The following examples shows which:

* Change VM counts: `fly scale count web=2 worker=1`
* Change VM size: `fly scale vm shared-cpu-1x --group worker`
* Change regions: `fly regions set iad --group worker`

For a bit more context on the original `processes` feature, you can read our [community announcement](https://community.fly.io/t/preview-multi-process-apps-get-your-workers-here/2316/).