---
title: Blueprints
layout: docs
toc: false
nav: firecracker
---

<figure>
  <img src="/static/images/docs-blueprints.webp" alt="Frankie the hot air balloon operating a renaissance-era flying machine with flying machine plans and notes in the background">
</figure>

<p>A library of design patterns and best practices showing how to build, architect, deploy, and run applications on Fly.io. This isn't just a showcase for stuff we've built, but a collection of design patterns and ideas that you can can use as inspiration, or as a starting point for your own projects.</p>

<ul>
  <% current_page.children.each do |page| %>
    <li>
      <%= link_to_page page %>
    </li>
  <% end %>
</ul>